@font-face {
    font-family: "MyriadProRegular";
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "MyriadProSemiBold";
    src: url("../fonts/MyriadProSemiBold/MyriadProSemiBold.eot");
    src: url("../fonts/MyriadProSemiBold/MyriadProSemiBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProSemiBold/MyriadProSemiBold.woff") format("woff"),
    url("../fonts/MyriadProSemiBold/MyriadProSemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "MyriadProSemiBoldItalic";
    src: url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot");
    src: url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.woff") format("woff"),
    url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "MyriadProRegular";
    -webkit-font-family: "MyriadProRegular";
}

.container {
    max-width: 1000px;
    margin: auto;
}

/* Header */

.F1_header {
    background: url('../img/F1_header.jpg') no-repeat center;
    height: 230px;
}

.F1_header__content {

padding: 65px 0px;
display: flex;
justify-content: space-between;
align-items: center;

}

.F1_header__contacts {
    text-decoration: none;
    color: #767676;
}


.F1_header__contacts-number {
    font-size: 40px;
    line-height: 46px;
    letter-spacing: 1px;
}

.F1_header__img {
    height: 45px;
    width: 151px;
}

/* F2 */

.F2 {
    background: url('../img/F2-bg.jpg') no-repeat center;
    background-color: #f8f8f8;
    height: 509px;
}

.form__title {
    padding-left: 165px;
    padding-top: 72px;
    color: #9da3d7;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    font-family: "MyriadProSemiBold";
    -webkit-font-family: "MyriadProSemiBold";
}

.form__content {
    margin-left: 98px;
    margin-top: 18px;
    width: 358px;
    height: 275px;
    background-color: #9da3d7;
}

.form__content--title {
    padding-top: 29px;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    color: #ffffff;
    text-align: center;
}

.form__content--tel {
    margin-top: 26px;
    margin-left: 31px;
    width: 290px;
    height: 49px;
    color: #767676;
    font-size: 24px;
    letter-spacing: 0.6px;
    padding-left: 17px;
    font-family: "MyriadProRegular";
    -webkit-font-family: "MyriadProRegular";
}

.form__content--submit {
    margin-top: 23px;
    margin-left: 31px;
    width: 290px;
    height: 49px;
    background-color: #ffc087;
    color: #000000;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    cursor: pointer;
    font-family: "MyriadProRegular";
    -webkit-font-family: "MyriadProRegular";
}

/* F3 */

.slider__title {
    padding-top: 28px;
    text-align: center;
    color: #9da3d7;
    font-family: "MyriadProSemiBold";
    -webkit-font-family: "MyriadProSemiBold";    
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
}

.slider__img {
    margin-top: 30px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.17);
}

.slider__img--center {
    text-align: center;
}

.slider__ellipse {
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider__ellipse--first,
.slider__ellipse--second {
    margin-right: 21px;
}

.slider__ellipse--first,
.slider__ellipse--second,
.slider__ellipse--third {
    cursor: pointer;
}

/* F4 */

.F4__title--text {
    padding-top: 68px;
    text-align: center;
    color: #000000;
    font-family: "MyriadProSemiBold";
    -webkit-font-family: "MyriadProSemiBold";    
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
}

.F4__content--text {
    margin-top: 37px;
    color: #000000;
    font-family: "MyriadProRegular";
    -webkit-font-family: "MyriadProRegular";
    font-size: 14px;
    letter-spacing: 0.35px;
}

/* F5 */

.F5__title-center {
    text-align: center;
}

.F5__title,
.F5__title--span {
    padding-top: 72px;
    color: #9da3d7;
    font-family: "MyriadProSemiBold";
    -webkit-font-family: "MyriadProSemiBold";   
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    font-weight: 400;
}

.F5__windows {
    padding-top: 37px;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

.F5__window--description {
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0.35px;
    text-align: center;
    cursor: pointer;
}

.F5__window--first .F5__window--description,
.F5__window--second .F5__window--description,
.F5__window--third .F5__window--description {
    margin-top: 71px;
}

.F5__window--fourth .F5__window--description,
.F5__window--fifth .F5__window--description {
    margin-top: 25px;
}

.F5__window--first .F5__window--description {
    color: #0099de;
    text-decoration: underline;
}

.F5__window--first,
.F5__window--second,
.F5__window--third,
.F5__window--fourth,
.F5__window--fifth {
    text-align: center;
}

.F5__calculator {
    margin-top: 38px;
    height: 524px;
    background-color: #e8e8e8;
    background: url('../img/подложка.jpg') no-repeat center;
    display: flex;
    flex-flow: wrap;
}

.F5__calculator--width {
    color: #636363;
    font-family: "MyriadProSemiBoldItalic";
    -webkit-font-family: "MyriadProSemiBoldItalic";
    font-size: 22px;
    line-height: 40px;
    margin-left: 129px;
    padding-top: 39px;
}

.F5__calculator--img {
    padding-left: 48px;
    padding-top: 29px;
}

.F5__calculator--height {
    color: #636363;
    font-family: "MyriadProSemiBoldItalic";
    -webkit-font-family: "MyriadProSemiBoldItalic";
    font-size: 22px;
    line-height: 40px;
    writing-mode:tb-rl;
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform:rotate(180deg);
    transform: rotate(180deg);
    margin-left: 26px;
}

.F5__calculator--window {
    display: flex;
    align-items: center;
}

.values__width {
    margin-top: 40px;
    margin-left: 36px;
    color: #000000;
    font-size: 20px;
    line-height: 37.1px;
}

.values__width--input {
    width: 91px;
    height: 46px;
    border: 2px solid #a2a2a2;
    border-radius: 7px;
    background-color: #ffffff;
    margin-top: 9px;
    margin-left: 38px;
    color: #5d5d5d;
    font-size: 36px;
    line-height: 29.68px;
    text-align: center;
}

.values__height {
    padding-left: 65px;
    padding-top: 39px;
    color: #000000;
    font-size: 20px;
    line-height: 37.1px;
}

.F5__calculator--values {
    display: flex;

}

.values__height--input {
    width: 91px;
    height: 46px;
    border: 2px solid #a2a2a2;
    border-radius: 7px;
    background-color: #ffffff;
    margin-top: 9px;
    color: #5d5d5d;
    font-size: 36px;
    line-height: 29.68px;
    text-align: center;
}

.values__x {
    color: #0099de;
    font-size: 45px;
    font-weight: 700;
    line-height: 37.1px;
    padding: 0px 24px;
}

.F5__calculator--inputs {
    display: flex;
    align-items: center;
}

.F5__calculator--right-bar {
    padding-left: 114px;
    width: 60%;
}

.F5__calculator--left-bar {
    width: 35%;
}

.right-bar__window-name {
    padding-top: 63px;
    color: #0099de;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.75px;
}

.right-bar__window-criterion {
    color: #000000;
    font-size: 24px;
    line-height: 40px;
    padding-top: 52px;
    font-family: "MyriadProSemiBold";
    -webkit-font-family: "MyriadProSemiBold";   
}

.right-bar__window-input {
    color: #000000;
    font-size: 18px;
    line-height: 40px;
}

.right-bar__window-input:not(:last-child) {
    margin-right: 30px;
} 

.right-bar__window-inputs {
    display: flex;
}

.right-bar__window-choice--title {
    color: #000000;
    font-size: 24px;
    line-height: 40.03px;
    font-family: "MyriadProSemiBold";
    -webkit-font-family: "MyriadProSemiBold";
    padding-top: 62px;  
}

.window__open--form {
    margin-top: 19px;
    width: 358px;
    height: 45px;
    border: 2px solid #aeaeae;
    border-radius: 7px;
    display: flex;
    background: url('../img/choice.svg') no-repeat 95% #DDD;
    background-color: #ffffff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.window__choice {
    color: #000000;
    font-size: 18px;
    line-height: 40.92px;
    padding-left: 27px;
}

.window__choice--svg {
    padding-left: 165px;
}

.F5__calculator--bottom-bar {
    margin-top: 30px;
}

.bottom__bar--phone-number {
    margin-left: 212px;
    width: 280px;
    height: 46px;
    background: url('../img/contact.jpg') no-repeat;
    border-radius: 10px;
    background-color: #c6c6c6;
    padding-left: 63px;
    color: #424242;
    font-size: 18px;
    letter-spacing: 0.45px;
    font-family: "MyriadProRegular";
    -webkit-font-family: "MyriadProRegular";
}

.bottom__bar--submit {
    margin-left: 22px;
    width: 280px;
    height: 46px;
    border-radius: 10px;
    background-color: #9da3d7;
    color: #ffffff;
    font-family: "MyriadProRegular";
    -webkit-font-family: "MyriadProRegular";
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}

.F5__calculator--bottom-bar {
    margin: 0 auto;
}
.bottom__bar--phone-number {
    margin-left: 0;
}

/* Footer */

.footer {
    margin-top: 99px;
    background: url('../img/footer.jpg');
    height: 148px;
}

.footer__content {
    color: #fffefe;
    font-size: 24px;
    letter-spacing: 0.6px;
    padding-top: 57px;
    width: 185px;
    height: 46px;
}

/* Adaptive */

@media(max-width:1366px)
{
.container {
    max-width: 800px;
}
.F5__calculator--bottom-bar {
    margin: 0 auto;
}
.right-bar__window-choice--title {
    padding-top: 10px;
}
.right-bar__window-inputs {
    display: block;
}
.right-bar__window-criterion {
    padding-top: 28px;
}
.F5__calculator--right-bar {
    padding-left: 70px;
}
.F5__calculator--left-bar {
    width: 42%;
}
.F5__calculator--right-bar {
    width: 57%;
}
.F5__calculator {
    background-size: 800px 524px;
}
}

@media(max-width:992px) {
    .container {
        max-width: 700px;
    }
    .right-bar__window-name {
        padding-top: 30px;
    }
    .right-bar__window-criterion {
        padding-top: 15px;
    }
    .window__open--form {
        width: 310px;
    }
    .F5__calculator {
        background-size: 700px 524px;
    }
}

@media(max-width:768px) {
    .container {
        max-width: 560px;
    }
    .F5__calculator--left-bar {
        width: 53%;
    }
    .F5__calculator--right-bar {
        width: 47%;
    }
    .F5__calculator--right-bar {
        padding-left: 15px;
    }
    .window__open--form {
        width: 235px;
    }
    .bottom__bar--phone-number,
    .bottom__bar--submit {
        width: 230px;
    }
    .F5__calculator {
        background-size: 560px 524px;
    }
    .slider__img {
        width: 560px;
    }
    .right-bar__window-choice--title {
        line-height: 26px;
    }
    .values__height {
        padding-left: 40px;
    }
    .values__x {
        padding: 0px 12px;
    }
    .F5__window--first,
    .F5__window--second,
    .F5__window--third,
    .F5__window--fourth,
    .F5__window--fifth {
        width: 33%;
    }
}

@media (max-width:576px) {
    .container {
        width: 80%;
    }
    .slider__img {
        width: 432px;
    }
    .form__content {
        width: 432px;
        margin: 10px auto 0px;
        text-align: center;
    }
    .F5__calculator--height {
        margin-left: 0;
    }
    .F5__calculator--width {
        margin-left: 100px;
    }
    .values__width,
    .values__width--input {
        margin-left: 20px;
    }
    .F5__calculator--left-bar,
    .F5__calculator--right-bar {
        width: 100%;
    }
    .F5__calculator {
        background-size: 445px 960px;
        height: 960px;
    }
    .values__height--input,
    .values__width--input {
        height: 42px;
        font-size: 30px;
    }
    .values__x {
        font-size: 40px;
    }
    .F1_header__contacts-number {
        font-size: 26px;
    }
    .F5__window--first,
    .F5__window--second,
    .F5__window--third,
    .F5__window--fourth,
    .F5__window--fifth {
        width: 50%;
    }
    .bottom__bar--phone-number,
    .bottom__bar--submit {
        width: 180px;
        margin-left: 0;
    }
    .bottom__bar--phone-number {
        padding-left: 55px;
        font-size: 16px;
    }
    .form__title {
        padding-left: 0;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .container {
        width: 90%;
    }
    .slider__img,
    .form__content {
        width: 431px;
    }

    .form {
        text-align: center;
    }
    .form__title {
        padding-left: 0;
    }
    .form__content {
        margin-left: 0;
    }
    .form__content--tel,
    .form__content--submit {
        margin-left: 0;
    }
    .F5__calculator {
        background-size:431px 960px;
        height: 960px;
    }
    .bottom__bar--phone-number {
        font-size: 16px;
        padding-left: 47px;
    }
    .F1_header__contacts-number {
        font-size: 22px;
    }
}


@media (max-width: 425px) {
    .slider__img,
    .form__content {
        width: 370px;
    }
    .form__content {
        margin-left: 0;
    }
    .bottom__bar--phone-number,
    .bottom__bar--submit {
        width: 220px;
    }
    .F5__calculator {
        background-size: 370px 1090px;
        height: 1090px;
    }
    .F5__calculator--bottom-bar {
        display: flex;
        justify-content: center;
    }
    .bottom__bar--phone-number {
        padding-left: 50px;
    }
    .F5__calculator--bottom-bar {
        display: flex;
        justify-content: center;
        flex-flow: wrap;
    }
    .bottom__bar--submit {
        margin-left: 10px;
    }
}

@media (max-width: 375px) {
    .F5__window--first,
    .F5__window--second,
    .F5__window--third,
    .F5__window--fourth,
    .F5__window--fifth {
        width: 100%;
    }
    .slider__img,
    .form__content {
        width: 324px;
    }
    .F5__calculator {
        background-size:324px 1090px;
        height: 1090px;
    }
    .F1_header__img {
        height: 40px;
        width: 120px;
    }
    .F1_header__contacts-number {
        font-size: 18px;
    }
    .bottom__bar--submit {
        margin-left: 0;
    }
}

@media (max-width: 320px) {
    .slider__img {
        width: 288px;
    }

    .F5__calculator {
        background-size:288px 1090px;
        height: 1090px;
    }

    .form__content {
        width: 288px;
        margin-left: 0;
    }
    .form__content--tel,
    .form__content--submit {
        width: 250px;
    }
}
